{% block start %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />
    <style>

      /* Styles for line chart in dark mode */
      @media (prefers-color-scheme: dark) {
        .axis, .domain, g.tick line {
          stroke: white;
        }
      }
      p.secret {
        filter: blur(3px);
        -webkit-filter: blur(3px);
      }
    </style>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>


  </head>
  <body>



    <div class="container">

      {% block content %}
        {{ content | safe }}
      {% endblock %}

      <div class="footer">
        <p>Made with ❤️ by <a target="_blank" href="https://cjclippy.carrd.co/">CJ_Clippy</a></p>
        <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/1ChEgFmSQ7LnyHkHGX0WDXE7v1vuWLJ2TkveZf0FtISI">Bricktuber Spreadsheet</a>
      </div>
    </div>

  </body>
</html>
{% endblock %}