
<style>
  #scrollToTop {
    text-decoration: none;
    border-radius: 25px;
    position: fixed;
    outline: none;
    z-index: 100;
    padding: 0.75em 1.5em;
    inset: auto 2em 2em auto;
  }
</style>

<a href="#top" id="scrollToTop" class="button is-secondary is-rounded">
↑ Top
</a>