---
layout: base.njk

---
{% include "nav.njk" %}
<section>
  <div class="hero-body">
    <h1 class="title">Beb's Builds</h1>

    <p>An unofficial fansite for <a target="_blank" href="https://twitter.com/barbariengineer">Beb</a> the Barbarian Engineer VTuber who streams on <a target="_blank" href="https://twitch.tv/bebthebarbariengineer">Twitch</a>.</p>
    <p>Since 2021, he has created many characters out of LEGO.</p>
    <p class="mt-5"><i>This is an exhaustive list of all <span class="count">{{ bricktubers.values.length-1 }}</span> Bricktubers and <span class="count">{{ xenobricks.values.length-1 }}</span> Xenobricks Beb has created and documented.</p>

  </div>
</section>


<section>

  <nav class="level">

    <div class="level-item">
      <a href="/bricktubers">
        <div class="card">
          <div class="card-image">
            {% getFigureHtml 'https://pbs.twimg.com/media/E6rl7lWX0Ac22-z.jpg', "Bricktubers" %}
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4">Bricktubers</p>
            </div>
          </div>
        </div>
      </a>
    </div>


    <div class="level-item">  
      <a href="/xenobricks">
        <div class="card">
          <div class="card-image">
            {% getFigureHtml './_src/img/xenobricks2.png', "Xenobricks" %}
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4">Xenobricks</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  
  </nav>
</section>

