---
layout: base.njk
eleventyNavigation:
  key: Xenobricks
  order: 3
---

{% include "nav.njk" %}

<section class="mb-5">
  <div class="content">

    <h3 class="heading">Xenobricks</h3>

    <div class="columns is-multiline is-mobile">
      {% for xenobrick in xenobricks.values.slice(1) |reverse %}
        {% set date = xenobrick[0] %}
        {% set name = xenobrick[1] %}
        {% set series = xenobrick[2] %}
        {% set image1 = xenobrick[3] %}
        {% set image2 = xenobrick[4] %}
        {% set image3 = xenobrick[5] %}
        {% set image4 = xenobrick[6] %}
        {% set presentationTweet = xenobrick[7] %}
        {% set instructions = xenobrick[8] %}

        <div class="column is-half-mobile is-one-third-tablet is-one-fifth-desktop">
          <div class="card">
            <div class="card-image">
              {% if image1 %}
                {% getFigureHtml image1, name %}
              {% endif %}
            </div>
            <div class="card-content">
              <div class="media-content">
                <p class="title is-4">{{ name }}</p>
                
                {% if series %}
                  <p class="subtitle is-6">
                    <span class="series">{{ series }}</span>
                  </p>
                {% endif %}

                <div class="level">
                  <a target="_blank" href="{{ presentationTweet }}">{{ date }}</a>

                  {% if instructions %}
                    <a target="_blank" href="{{ instructions }}">
                      <ion-icon name="cloud-download-outline"></ion-icon>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

      {% else %}
        <div class="column">
          <p><i>There are no xenobricks.</i></p>
        </div>
      {% endfor %}
      


    </div>


  </div>
</section>

