---
layout: base.njk
eleventyNavigation:
  key: Bricktubers
  order: 2
---

{% include "nav.njk" %}


<section class="mb-5">
  <div class="content">

    <h3 class="heading">Bricktubers</h3>

    <div class="columns is-multiline is-mobile">
      {% for bricktuber in bricktubers.values.slice(1) |reverse %}
        {% set bebNumber = bricktuber[0] %}
        {% set date = bricktuber[1] %}
        {% set vtuberName = bricktuber[2] %}
        {% set vtuberTwitter = bricktuber[3] %}
        {% set image1 = bricktuber[4] %}
        {% set image2 = bricktuber[5] %}
        {% set image3 = bricktuber[6] %}
        {% set image4 = bricktuber[7] %}
        {% set presentationTweet = bricktuber[8] %}
        {% set instructions = bricktuber[9] %}

        {% if date and vtuberName and vtuberTwitter and image1 and presentationTweet %}

          <div class="column is-half-mobile is-one-third-tablet is-one-fifth-desktop">
            <div class="card">
              <div class="card-image">
                {% getFigureHtml image1, vtuberName %}
              </div>
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4">{{ vtuberName }}</p>
                  
                  {% if vtuberTwitter %}
                    <p class="subtitle is-6">
                    <a target="_blank" href="{{ vtuberTwitter }}">@{{ vtuberTwitter|bname }}</a></p>
                  {% endif %}

                  <div class="level">
                    <a target="_blank" href="{{ presentationTweet }}">{{ date }}</a>

                    {% if instructions %}
                      <a target="_blank" href="{{ instructions }}">
                        <ion-icon name="cloud-download-outline"></ion-icon>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

      {% else %}
        <div class="column">
          <p><i>There are no bricktubers.</i></p>
        </div>
      {% endfor %}
      


    </div>


  </div>
</section>
